
<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ title ?? site:name }}</title>



       {{ vite src="resources/js/site.js|resources/css/site.css" }}
      
      <styl
   </head>
   <body class="bg-main-bg">
      {{partial:partials/header}}
      <!-- header End -->

      {{ template_content }}


    
      <div class="divider mx-auto d-lg-none border-top border-dark-gray-1 my-5 d-md-block d-none w-100"></div>
      {{partial:partials/footer}}
      {{partial:partials/mobile-nav}}
 
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
     
      <!-- <script src="https://cdn.jsdelivr.net/npm/zuck.js@latest/dist/zuck.min.js"></script> -->

<!--       <script async src="/assets/js/bootstrap.bundle.js" crossorigin="anonymous"></script>

<script defer src="/assets/js/fancybox.umd.js" defer></script>
<script defer src="/assets/js/flatpickr.min.js" defer></script>

<script src="/assets/js/zuck.min.js" defer></script> -->

<script defer src="/assets/js/splide.min.js" ></script>
<script src="/assets/js/zuck.min.js" defer></script>
    
     

      
      <script>
         const csrfToken = $('meta[name="csrf-token"]').attr('content');
         $.ajaxSetup({
             headers: {
                 'X-CSRF-TOKEN': csrfToken
             }
         });
      </script>
     
       <script>
         $(document).ready(function () {
             $.ajax({
                 url: '/profiles-json',
                 type: 'GET',
                 success: function (data) {
                     console.log('Stories:', data);
                     if(data.length == 0) {
                         $('.gallery-story-wrap').addClass('d-none');
                     }else{
                         $('.gallery-story-wrap').removeClass('d-none');
                         var stories = new Zuck(document.querySelector('#stories'), {
                             backNative: true,
                             previousTap: true,
                             skin: 'Snapgram',
                             avatars: true,
                             list: false,
                             autoFullScreen: false,
                             cubeEffect: true,
                             paginationArrows: false,
                             localStorage: true,
                             stories: data
                         });
                     }
         
         
                 },
                 error: function (xhr, status, error) {
                     console.error('Error fetching videos:', error);
                 }
             });
         });
      </script> 

     
      <script>
         ((doc) => {
             const myDoc = doc;
             // let banner = myDoc.querySelector('.banner-home');
             // let dImg = banner.getAttribute('data-dimg');
             // let mImg = banner.getAttribute('data-mImg');
             // let styles = `--dImg:url(${dImg}); --mImg:url(${mImg})`;
             // setTimeout(() => {
             //     banner.setAttribute('style', styles);
             // }, 2000);
         
             if (window.innerWidth > 768) {
                 const link = document.createElement('link');
                 link.rel = 'preload';
                 link.href = '/assets/images/banner-d.webp';
                 link.as = 'image';
                 document.head.appendChild(link);
             }
         })(document)
      </script>
   </body>
</html>