<div class="container-fluid px-0 media-holder media-holder-overlay">
         <div class="banner banner-home position-relative">
            <link rel="preload" href="/assets/images/banner-m.webp" as="image">
            <picture class="hero hero-main position-absolute w-100 h-100 start-0">
               <source media="(min-width: 768px)" srcset="/assets/images/banner-d.webp">
               <img src="/assets/images/banner-m.webp" loading="eager" alt="Banner Image">
            </picture>
            <div class="banner-bottom mb-b-bottom z-2 position-relative pb-3">
               <div class="container">
                  <div class="row m-0">
                     &nbsp;
                  </div>
               </div>
            </div>
            <div class="pt-3 position-relative z-2 hero-tex">
               <div class="container pt-5">
                  <div class="row m-0 pt-5">
                     <div class="col-lg-12 col-md-12">
                        <h1>{{title}}</h1> 
                        
                     </div>
                  </div>
               </div>
            </div>
            
            
         </div>


        
      </div>

      <div class="container pt-1">
                  <div class="row m-0 pt-1">
                     <div class="col-lg-12 col-md-12">
                       
                        <div class="cms m-3">
                           <p>                                        
                           {{ content | markdown }}
                           </p>
                        </div>
                     </div>
                  </div>
               </div>


