<header class="header header-min ">
         <div class="container">
            <div class="row m-0">
               <div class="header-min-innr">
                  <a class="brand" title="" href="/"  aria-label="Crush Escorts Home" style="font-size: 23px; font-display: block; font-weight: bold;">
                     Rosecoco
                  </a>
                  <nav class="nav nav-min">
                     <ul class="nav-min-menu">
                        {{nav:main_nav}}
                        <li>
                           <a href="{{url}}"> {{title}}</a>
                        </li>
                        {{/nav:main_nav}}
                        
                     </ul>
                  </nav>
                  <div class="d-flex align-items-end flex-column desk-view">
                     <a class="header-min-phone d-flex align-items-center lh-lg" href="https://app.rosecoco.co.ke">
                     <i class="fa-user"></i>
                     <span class="f400">Login</span>
                     </a>
                     <!-- <a class="header-min-phone d-flex align-items-center lh-lg" href="tel:07478770704">
                     <i class="fa-phone-black"></i>
                     <span class="f400">07478770704</span>
                     </a> -->
                  </div>
               </div>
            </div>
         </div>
      </header>