 <ul class="position-fixed bottom-0 bg-main-bg w-100 z-3 footer-contact-info d-flex flex-wrap d-lg-none justify-content-center align-items-center">
         <li>
            <button class="text-white text-hover-primary py-3 mx-auto border-0 flex-column d-flex justify-content-center align-items-center text-md-small f400 bg-main-bg" data-bs-toggle="modal" data-bs-target="#memumodal">
            <span class="fa-menu-toggle fs-4 mb-1"></span>
            <span>Menu</span>
            </button>
         </li>
         <!-- <li>
            <button class="text-white text-hover-primary py-3 mx-auto border-0 flex-column d-flex justify-content-center align-items-center text-md-small f400 bg-main-bg" type="button" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="fa-contact fs-4 mb-1"></span>
            <span>Contact</span>
            </button>
            <div class="dropdown-menu footer-contact-dropdown bg-main-bg rounded-4">
               <ul class="d-flex flex-wrap justify-content-between">
                  <li class="sms-btn">
                     <a href="/cdn-cgi/l/email-protection#88e1e6eee7c8ebfafdfbe0edfbebe7fafcfba6ebe7e5" aria-label="Click Here to email us">
                     <span class="fa-email d-flex align-items-center justify-content-center"></span>
                     </a>
                  </li>
                  <li class="whatsapp">
                     <a target="_blank" href="https://wa.me/+447478770704" aria-label="Click Here to chat/bookonline">
                     <span class="fa-whatsapp d-flex align-items-center justify-content-center"></span>
                     </a>
                  </li>
                  <li class="telli">
                     <a href="tel:07478770704" aria-label="Click Here to call us">
                     <span class="fa-phone-black d-flex align-items-center justify-content-center"></span>
                     </a>
                  </li>
               </ul>
            </div>
         </li> -->
      </ul>
       <div class="modal fade menu-modal" id="memumodal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog m-0 w-100">
            <div class="modal-content rounded-0 bg-main-bg">
               <div class="modal-header justify-content-center flex-column text-center border-0">
                  <button type="button" class="position-absolute start-0 top-0 mt-3 border-0 bg-main-bg px-3" data-bs-dismiss="modal" aria-label="Close"><span class="fa-close-small text-white"></span></button>
                  <a class="brand" title="" href="/">
                     Rosecoco
                  </a>
                 
               </div>
               <div class="modal-body p-4 d-flex align-items-start">
                  <div class="w-100">
                     <ul>
                        {{nav:main_nav}}
                        <li class="w-100 p-3 border-bottom border-dark-gray-2">
                           <a href="{{url}}" class="text-white text-md-small d-flex justify-content-between" aria-label="">
                           {{title}}
                           </a>
                        </li>
                        {{/nav:main_nav}}
                        
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>