 <div class="gallery-single pt-lg-3 pt-1">
    <div class="container-medium mx-auto">
        <div class="d-flex flex-wrap">
            <nav aria-label="breadcrumb" class="d-flex justify-content-center fs-7">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/" class="text-decoration-none"> Escorts</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{url}}" class="text-decoration-none">{{title}}</a>
                    </li>
                </ol>
            </nav>

            <div class="gallery-single-start">
                <div class="d-flex justify-content-between align-items-center mb-3 mb-lg-4">
                    {{ collection:previous in="profiles" limit="1" sort="date:asc" }}

                    <span class="d-flex text-small align-items-center position-relative back-btn ">
                            <a class="d-flex flex-wrap align-items-center" href="{{ url }}">
                                <span class="fa-back me-2"></span>
                                <span class="d-md-block d-none">PREVIOUS PROFILE</span>
                                <span class="d-md-none">Prev</span>
                            </a>
                    </span>

                      {{ /collection:previous }}


                    <a href="/">
                        <img src="https://www.crushescorts.com/frontend/images/home.svg" width="25" height="25" alt="Home icon">
                    </a>



                    {{ collection:next in="profiles" limit="1" sort="date:asc" }}

                    <span class="text-small position-relative back-btn next-btn">
                        <a class="d-flex flex-wrap align-items-center" href="{{ url }}">
                            <span class="d-md-block d-none">NEXT PROFILE</span>
                            <span class="d-md-none">Next</span>
                            <span class="fa-back ms-2 mb-1"></span>
                        </a>
                    </span>
                    {{ /collection:next }}
                    
                </div>
                <div class="gallery-single-slider-wrap position-relative">

                    <div class="splide splide-arrow gallery-single-slider top-0 start-0 w-100 position-absolute top-0 left-0">
                       <!--  <span class="favourites d-flex justify-content-center align-items-center top-0 end-0 me-3 mt-3 position-absolute bg-white rounded-circle z-2">
                            <i class="fa-heart-f fs-4 save-favourite"></i>
                            <span class="favourites-message">
                                <span class="text"></span>
                                <span class="favourites-close"></span>
                            </span>
                        </span> -->
                        <div class="splide__track">
                            <div class="splide__list">
                                                                                                                      
                                                                                                                                           
                                                                                                                                           
                                                                                                                                            <div class="splide__slide">
                                            <a class="media-holder single-profile d-block" data-fancybox="gallery"  data-caption="" href="{{glide:url}}">
                                                <img src="{{glide:profile_image}}" alt="{{title}}" loading="eager">
                                            </a>
                                        </div>

                                        {{if profile_images | length > 0}}
                                        
                                        {{profile_images}}

                                             <div class="splide__slide">
                                            <a class="media-holder single-profile d-block" data-fancybox="gallery"  data-caption="" href="{{glide:url}}">
                                                <img src="{{glide:url}}" alt="{{title}}" loading="eager">
                                            </a>
                                        </div>

                                        {{/profile_images}}
                                        {{/if}}
                                                                                                                                               
                                                                    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gallery-single-about ms-auto pe-lg-0 pt-lg-4 mt-2">
                    <div class="row">
                        <div class="col-lg-7">
                                {{if recommended}}
                                <span class="d-flex rounded-10 recom-text align-items-center border-bottom border-lg p-3 border-dark-gray-2">
                                    <span class="fa-stars-recommend fs-3 me-3"></span>
                                    <span>
                                        <h4 class="m-0 ">This escort is recommended</h4>
                                        <h6 class="m-0 text-small f500 text-dark-gray-9">verified and highly reviewed</h6>
                                    </span>
                                </span>
                                {{/if}}
                            

                            <span class="d-flex align-items-center justify-content-between py-3">
                            <span>
                                <h4 class="m-0 fs-4 h-fonts">{{title}}</h4>
                                <h6 class="m-0 f500 text-small text-dark-gray-9"></h6>
                            </span>
                          <!--   <span>
                                <h4 class="m-0 fs-5 d-flex f500 align-items-center"><span class="fa-star text-small pe-1"></span> 10</h4>
                                <h6 class="m-0 text-small text-dark-gray-9">20 Reviews</h6>
                            </span> -->
                        </span>
                            <div class="d-lg-flex flex-lg-column-reverse flex-lg-wrap ">
                            <span class="mt-3">
                                {{bio}}

                            </span>
                                <div class="profile-info border my-4 my-lg-0 mt-lg-2 px-2 px-lg-4 py-2 rounded-10 gray-common-border gray-common-bg">
                                <span class="row">

                                        {{ foreach:attributes}}
                                                                            <span class="col-4 col-md-4 col-lg-3 py-2">
                                            <h4 class="m-0 text-md-small f500">{{key }}</h4>
                                            <h6 class="m-0 text-small text-dark-gray-9 f500">{{value}}</h6>
                                        </span>

                                           {{/foreach:attributes}}
                                                                            <!-- <span class="col-4 col-md-4 col-lg-3 py-2">
                                            <h4 class="m-0 text-md-small f500">Bust Size</h4>
                                            <h6 class="m-0 text-small text-dark-gray-9 f500">34B (natural)</h6>
                                        </span>
                                                                            <span class="col-4 col-md-4 col-lg-3 py-2">
                                            <h4 class="m-0 text-md-small f500">Dress Size</h4>
                                            <h6 class="m-0 text-small text-dark-gray-9 f500">8</h6>
                                        </span>
                                                                            <span class="col-4 col-md-4 col-lg-3 py-2">
                                            <h4 class="m-0 text-md-small f500">Eye Colour</h4>
                                            <h6 class="m-0 text-small text-dark-gray-9 f500">Green</h6>
                                        </span>
                                                                            <span class="col-4 col-md-4 col-lg-3 py-2">
                                            <h4 class="m-0 text-md-small f500">Hair Colour</h4>
                                            <h6 class="m-0 text-small text-dark-gray-9 f500">Blonde</h6>
                                        </span>
                                                                            <span class="col-4 col-md-4 col-lg-3 py-2">
                                            <h4 class="m-0 text-md-small f500">Height</h4>
                                            <h6 class="m-0 text-small text-dark-gray-9 f500">5ft 6in</h6>
                                        </span>
                                                                            <span class="col-4 col-md-4 col-lg-3 py-2">
                                            <h4 class="m-0 text-md-small f500">Languages</h4>
                                            <h6 class="m-0 text-small text-dark-gray-9 f500">English</h6>
                                        </span>
                                                                            <span class="col-4 col-md-4 col-lg-3 py-2">
                                            <h4 class="m-0 text-md-small f500">Location</h4>
                                            <h6 class="m-0 text-small text-dark-gray-9 f500">Gloucester Road</h6>
                                        </span>
                                                                            <span class="col-4 col-md-4 col-lg-3 py-2">
                                            <h4 class="m-0 text-md-small f500">Nationality</h4>
                                            <h6 class="m-0 text-small text-dark-gray-9 f500">Eastern European</h6>
                                        </span>
                                                                            <span class="col-4 col-md-4 col-lg-3 py-2">
                                            <h4 class="m-0 text-md-small f500">Nearest Tube</h4>
                                            <h6 class="m-0 text-small text-dark-gray-9 f500">Gloucester Road</h6>
                                        </span> -->
                                                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                             {{if rates}}
                            <div class="border meeting-tab border-1 p-3 pt-4 pb-0 rounded-10 profile-meeting-tab gray-common-border gray-common-bg">

                                

                                <h5 class="text-white f500 border-0 f500 bg-transparent shadow-none px-3">
                                    Meeting rates
                                </h5>
                                <div class="">
                                    <div class="px-3 mb-4">
                                        <div class="d-flex mb-1 pb-1">
                                            <div class="col-4 col-xl-6"></div>
                                            <div class="col-4 col-xl-3 text-md-small f500 text-dark-gray-7">Incall</div>
                                            <div class="col-4 col-xl-3 text-md-small f500 text-dark-gray-7">Outcall</div>
                                        </div>

                                           

                                            {{rates}}
                                                                                    <div class="d-flex py-2 border-bottom gray-common-border">
                                                <div class="col-4 col-xl-6 text-md-small f500 text-white text-uppercase">{{duration}}</div>
                                                <div class="col-4 col-xl-3 text-md-small f500 text-white">Ksh. {{incall_rate}}</div>
                                                <div class="col-4 col-xl-3 text-md-small f500 text-white">Ksh. {{outcall_rate}}</div>
                                            </div>
                                            {{/rates}}

                                           

                                                                                   
                                                                                
                                    </div>
                                </div>
                               




                            </div>
                              {{/if}}

                              <a href="tel:+{{phone_number}}" class="d-flex mb-2 mt-4 align-items-center text-decoration-none bg-dark-primary-7 text-white rounded-10 call-info" aria-label="Click Here to call us">
                                            <span class="fa-phone-black fs-5"></span>
                                            <span class="mx-auto">{{phone_number}}</span>
                                        </a>
                                        <a target="_blank" class="d-flex align-items-center text-decoration-none bg-primary text-white rounded-10 call-info
                                        whatapp-bg" href="https://wa.me/{{whatsapp_number}}?text=Hey, I found your profile on Rosecoco.co.ke and I’m interested in booking. When are you available?" aria-label="Click Here to chat/bookonline">
                                            <span class="fa-whatsapp fs-5"></span>
                                            <span class="mx-auto">Chat on WhatsApp</span>
                                        </a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="divider mx-auto border-top border-dark-gray-1 my-5 d-md-block d-none w-100"></div>
                        </div>
                    </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="fonts-sub fs-4 f300 text-black-2 mb-3 f500">Listed in</div>
                                                <div class="d-flex flex-wrap align-content-start grid gap-2">
                                                    {{categories}}
                                                                                        <a href="{{url}}" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3
                                                        text-small text-white">{{title}}</a>
                                                        {{/categories}}
                                                                                       
                                                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                        <div class="col-lg-12 pt-md-0 pt-2">
                            <div class="divider mx-auto border-top border-dark-gray-1 my-md-5 mt-4 mb-3 w-100"></div>
                        </div>
                    </div>

                    <div class="row">
                                            <div class="col-lg-12">
                                                <div class="fonts-sub fs-4 f300 text-black-2 mb-3 f500">Services</div>
                                                <div class="d-flex flex-wrap align-content-start grid gap-2">
                                                    {{services}}
                                                                                        <a href="{{url}}" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3
                                                        text-small text-white">{{title}}</a>
                                                        {{/services}}
                                                                                       
                                                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                        <div class="col-lg-12 pt-md-0 pt-2">
                            <div class="divider mx-auto border-top border-dark-gray-1 my-md-5 mt-4 mb-3  w-100"></div>
                        </div>
                    </div>

                                            <div class="row">
                            <div class="col-lg-12">
                                <div class="fonts-sub fs-4 f300 text-black-2 mb-3 f500">Locations</div>
                                <div class="d-flex flex-wrap align-content-start grid gap-2">
                                    {{locations}}
                                                                            <a href="{{url}}" class="border gray-common-bg bg-hover-primary border-dark-gray-5 rounded py-2 px-3
                                    text-small text-white"> {{title}}</a>
                                    {{/locations}}
                                                                            
                                                                    </div>
                            </div>
                        </div>
                    
                    <div class="row">
                        <div class="col-lg-12 pt-md-0 pt-2">
                            <div class="divider mx-auto border-top border-dark-gray-1 my-md-5 mt-4 w-100"></div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12 position-relative mt-4 mt-lg-0">
                            <span class="d-flex align-items-center justify-content-between">
                                <span>
                                    <h4 class="m-0 fs-4 f500">Reviews</h4>
                                </span>
                                <span class="write-review-btn desktop-view">
                                    <button class="btn text-md-small f500 text-white bg-dark-primary-7 bg-hover-primary-dark review-btn rounded-2" data-bs-toggle="modal" data-bs-target="#reviewpop">Write a review</button>
                                </span>
                            </span>
                                                        <span class="d-flex align-items-center justify-content-between rounded-2 border gray-common-border mt-3 mt-lg-4 py-4 px-3 px-lg-5">

    {{ if reviews | length > 0 }}
        {{ total_rating = reviews | pluck:rating | sum }}
        {{ total_items = reviews | length }}
        {{ average_rating = (total_rating / total_items) | round:0 }}
    {{ else }}
        {{ average_rating = 0 }}
    {{ /if }}

    <span class="text-center">
        <h4 class="mb-2 fs-4">
            {{ average_rating }}
        </h4>
        <span class="d-flex">
            <!-- Loop for filled stars -->
            {{ loop times="{{average_rating}}"}}
                <span class="fa fa-star me-1"></span>
            {{ /loop }}
            
        </span>
    </span>

    {{if average_rating > 3}}
    <span class="text-center">
        <h4 class="mb-2 fs-2">
            <span class="fa-stars-recommend"></span>
        </h4>
        <h3 class="m-0 fs-5 text-white fs-md-down-6">Highly Reviewed</h3>
    </span>
    {{/if}}

    <span class="text-center" data-bs-toggle="modal" data-bs-target="#ratingpop">
        <h4 class="mb-2 fs-5">{{ reviews | length }}</h4>
        <h3 class="m-0 fs-5 fs-md-down-6">Reviews</h3>
    </span>

</span>

                                                    </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="splide review_tab mt-4 mt-lg-5">
                                <div class="splide__track">
                                    <div class="splide__list">

                                        {{reviews}}

                                        <div class="splide__slide">
                                                <div class="py-4 py-3 border p-3 pt-4 rounded-10 gray-common-border gray-common-bg review_tab-col">
                                                                                                            <span class="d-flex pb-2">
                                                        
                                                                                                                {{ loop times="{{rating}}"}}
                                                                                                                <span class="fa fa-star text-lg-small me-1"></span>
                                                                                                                {{/loop}}
                                                                                                               
                                                        
                                                        <!-- Loop for empty stars -->
                                                                                                            </span>
                                                                                                            <p class="text-dark-gray-9 f300 mt-2 mb-2">
                                                                                                                {{review}}
                                                                                                            </p>
                                                                                                            <p class="text-dark-gray-9 f300 mt-2 mb-2">
                                                                                                                {{name}}
                                                                                                            </p>




                                                </div>
                                        </div>

                                        {{/reviews}}
                                                                               
                                                                    </div>
                                </div>
                            </div>
                            <span class="write-review-btn d-lg-none">
                                <button class="btn text-md-small f400 text-white bg-dark-primary-7 bg-hover-primary-dark review-btn rounded-2" data-bs-toggle="modal" data-bs-target="#reviewpop">Write a review</button>
                            </span>
                        </div>
                    </div>
                                        <div class="row">
                        <div class="col-lg-12">
                            <div class="divider mx-auto border-top border-dark-gray-1 my-5 d-md-block d-none w-100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

         <!-- <div class="similar-staff container-medium mx-auto">
    <h4>Similar profiles</h4>
    <div class="row">

        {{collection:profiles limit="5"}}
                <div class="col-md-6 col-lg-2 col-6 mb-4 pb-md-2 px-md-2 px-2 gallery-item">
            <div class="d-block position-relative">
                <div class=" staff-gallery">
                    <img class="media-holder fw fh" src="{{glide:profile_image width='150px' height='210px'}}" loading="lazy" alt="{{title}}">
                </div>
            </div>
            <span class="d-block mt-2 position-relative">
                <span class="d-block f400 mb-1"><a class="h5 text-primary f300 text-uppercase" href="{{url}}">{{title}}</a></span>
                <span class="d-block text-small text-uppercase f500 text-white lh-1 mb-1 tagline"></span>
                 <span class="text-md-small text-white f500 lh-1 text-uppercase d-block location">{{if incall}} Incall {{/if}} {{if outcall }} / Outcall {{/if}}</span> 
                 <span class="favourites d-flex justify-content-center align-items-center top-0 end-0 position-absolute">
                    <i class="fa-star me-md-1"></i>
                    <span class="favourites-message">
                        <span class="text">10</span>
                        <span class="favourites-close"></span>
                    </span>
                </span> 
            </span>
        </div>
        {{/collection:profiles}}
                
            </div>
</div> -->
    
<div class="modal fade " id="reviewpop" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-main-bg">
            <div class="modal-header justify-content-center border-0 pt-4">
                <button type="button" class="position-absolute start-0 border-0 bg-main-bg  px-3" data-bs-dismiss="modal" aria-label="Close"><span class="fa-close-small text-white"></span></button>
                <button type="button" class="position-absolute start-0 border-0 bg-main-bg  px-3 d-lg-none" data-bs-dismiss="modal" aria-label="Close"><span class="fa-back text-white"></span></button>
            </div>
            <div class="modal-body px-5">
                <div class="review-tab pb-2">
                    <span class="text-center d-block">
                        <img class="rounded-circle object-fit-cover" src="{{glide:profile_image}}" loading="lazy" width="76" height="76" alt="{{title}}">
                    </span>
                    <form class="form py-3" id="reviews-form">
                        <input type="hidden" name="_token" value="3uMjuQ8rehG8Qje8GXQiYCMMETYR6DMz7Wxwq7xt" autocomplete="off">
                        <input type="hidden" name="staff_id" value="102">
                        <div id="message"></div>
                        <div class="ratings-group">
                            <h5 class="mt-3 mb-2 text-start">How was your experience with {{title}}?</h5>
                            <span class="user-rating justify-content-end">
                              <input type="radio" name="rating" value="5"><span class="star"></span>
                              <input type="radio" name="rating" value="4"><span class="star"></span>
                              <input type="radio" name="rating" value="3"><span class="star"></span>
                              <input type="radio" name="rating" value="2"><span class="star"></span>
                              <input type="radio" name="rating" value="1" data-gtm-form-interact-field-id="0"><span class="star"></span>
                            </span>
                            <input id="review-rating" name="sel_service" hidden="" value="1">
                        </div>
                        <div class="form-group mb-3 position-relative">
                            <input type="text" name="full_name" class="form-control rounded-10 text-white input__field" placeholder="">
                            <span class="input__label">Your name</span>
                        </div>
                        <div class="form-group mb-3 position-relative">
                            <input type="email" name="email" class="form-control rounded-10 text-white input__field" placeholder="">
                            <span class="input__label">Your Email</span>
                        </div>
                        <div class="form-group mb-3">
                            <input type="date" name="review_date" class="form-control rounded-10 form-control-date text-white flatpickr-input active">
                        </div>
                        <div class="form-group mb-3">
                            <h5 class="mt-4 mb-2 text-start">Write a public review</h5>
                            <p class="mb-2 text-start font-small text-white">Be honest, clear and detailed. Include all the good or bad, a future punter should know before booking.</p>
                                <textarea name="message" cols="30" rows="10" class="form-control rounded-10 mt-3 text-white" placeholder="Write a public review"></textarea>
                        </div>
                        <input type="hidden" name="user_review" value="1">
                        <div class="text-center">
                            <button id="reviewSubmit" name="btn_post_review"
                                    class="btn w-100 rounded-10 btn text-md-small f400 text-white bg-primary bg-hover-primary-dark review-btn rounded-2"
                                    type="submit" value="Submit review">Submit review </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    
    document.addEventListener('DOMContentLoaded', function () {
  var profileImgSlider = document.querySelector('.gallery-single-slider');

  if (profileImgSlider) {
    var splide = new Splide(profileImgSlider, {
      pagination: false,
      arrows: true,
      autoplay: false,
      interval: 3000,
      fixedWidth: '318px',
      fixedHeight: '463px',
      trimSpace: 'move',
      focus: 'center',
      breakpoints: {
        575: {
          fixedWidth: '50%',
          fixedHeight: '300px',
        },
      },
    });

    splide.mount();
  }
});

</script>

<script type="text/javascript">
    
    document.addEventListener('DOMContentLoaded', function () {
  var reviewsSlider = document.querySelector('.review_tab');

  if (reviewsSlider) {
    var splide = new Splide(reviewsSlider, {
      pagination: false,
      arrows: false,
      autoplay: false,
      interval: 3000,
      trimSpace: 'move',
      focus: 'center',
      
    });

    splide.mount();
  }
});

</script>

