    <div class="gallery-single duo-profile pt-lg-3 pt-1">
        <div class="container-medium mx-auto">
            <div class="d-flex flex-wrap">
                <div class="gallery-single-start pe-xl-4 pe-lg-3">
                    <div class="d-flex justify-content-between align-items-center mb-3 mb-lg-4">
                    <span class="d-flex text-small align-items-center back-btn position-relative">
                        <a href="https://www.crushescorts.com/duo-profile/olivia-merlot">
                            <span class="fa-back me-2"></span>
                            BACK
                        </a>
                    </span>
                    <span class="text-small back-btn position-relative"><a href="https://www.crushescorts.com/duo-profile/natasha-ysa">NEXT PROFILE</a></span>
                    </div>
                    <div class="row flex-lg-nowrap mt-4 pt-1 pt-lg-3 mt-lg-0 pt-lg-0">
                        <div class="col-lg-6 order-lg-2">
                            <div class="row pt-lg-4">
                                <div class="col-6 px-0 d-block position-relative duo-profile-slider-wrap gallery-item duo-profile">
                                    <div class="splide staff-gallery position-absolute w-100 h-100 top-0 start-0">
                                        <div class="splide__track">
                                            <div class="splide__list">
                                                                                                <div class="splide__slide">
                                                    <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <link rel="preload" href="https://crushescorts.com/storage/1631/conversions/imageDWwQF8-large.webp" as="image">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1631/conversions/imageDWwQF8-large.webp" loading="eager" alt="Anne Marii">
                                                    </span>
                                                    </a>
                                                </div>
                                                                                                <div class="splide__slide">
                                                    <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1633/conversions/imageADW9kf-large.webp" loading="lazy" alt="Anne Marii">
                                                    </span>
                                                    </a>
                                                </div>
                                                                                                <div class="splide__slide">
                                                    <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1635/conversions/imagevt8KMD-large.webp" loading="lazy" alt="Anne Marii">
                                                    </span>
                                                    </a>
                                                </div>
                                                                                                <div class="splide__slide">
                                                    <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1636/conversions/imageN9iNHT-large.webp" loading="lazy" alt="Anne Marii">
                                                    </span>
                                                    </a>
                                                </div>
                                                                                                <div class="splide__slide">
                                                    <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1637/conversions/imageDVnMPX-large.webp" loading="lazy" alt="Anne Marii">
                                                    </span>
                                                    </a>
                                                </div>
                                                                                                <div class="splide__slide">
                                                    <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1638/conversions/imagen3NfFS-large.webp" loading="lazy" alt="Anne Marii">
                                                    </span>
                                                    </a>
                                                </div>
                                                                                                <div class="splide__slide">
                                                    <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1639/conversions/image5XCXAe-large.webp" loading="lazy" alt="Anne Marii">
                                                    </span>
                                                    </a>
                                                </div>
                                                                                                <div class="splide__slide">
                                                    <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1641/conversions/imageguLxCY-large.webp" loading="lazy" alt="Anne Marii">
                                                    </span>
                                                    </a>
                                                </div>
                                                                                                <div class="splide__slide">
                                                    <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1729/conversions/blob-large.webp" loading="lazy" alt="Anne Marii">
                                                    </span>
                                                    </a>
                                                </div>
                                                                                                <div class="splide__slide">
                                                    <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1632/conversions/imageY5gRNp-large.webp" loading="lazy" alt="Anne Marii">
                                                    </span>
                                                    </a>
                                                </div>
                                                                                                <div class="splide__slide">
                                                    <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1634/conversions/imageaLQIyt-large.webp" loading="lazy" alt="Anne Marii">
                                                    </span>
                                                    </a>
                                                </div>
                                                                                                <div class="splide__slide">
                                                    <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1642/conversions/imageZDjR99-large.webp" loading="lazy" alt="Anne Marii">
                                                    </span>
                                                    </a>
                                                </div>
                                                                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 px-0 d-block position-relative duo-profile-slider-wrap gallery-item duo-profile">
                                    <div class="splide staff-gallery position-absolute w-100 h-100 top-0 start-0">
                                        <div class="splide__track">
                                            <div class="splide__list">
                                                                                                    <div class="splide__slide">
                                                        <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <link rel="preload" href="https://crushescorts.com/storage/1748/conversions/alma1-large.webp" as="image">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1748/conversions/alma1-large.webp" loading="eager" alt="Alma">
                                                    </span>
                                                        </a>
                                                    </div>
                                                                                                    <div class="splide__slide">
                                                        <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1743/conversions/alma3-large.webp" loading="lazy" alt="Alma">
                                                    </span>
                                                        </a>
                                                    </div>
                                                                                                    <div class="splide__slide">
                                                        <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1744/conversions/alma5-large.webp" loading="lazy" alt="Alma">
                                                    </span>
                                                        </a>
                                                    </div>
                                                                                                    <div class="splide__slide">
                                                        <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1745/conversions/alma2-large.webp" loading="lazy" alt="Alma">
                                                    </span>
                                                        </a>
                                                    </div>
                                                                                                    <div class="splide__slide">
                                                        <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1746/conversions/alma8-large.webp" loading="lazy" alt="Alma">
                                                    </span>
                                                        </a>
                                                    </div>
                                                                                                    <div class="splide__slide">
                                                        <a href="#">
                                                    <span class="media-holder d-block position-relative">
                                                                                                                <img class="fw fh" src="https://crushescorts.com/storage/1747/conversions/alam7-large.webp" loading="lazy" alt="Alma">
                                                    </span>
                                                        </a>
                                                    </div>
                                                                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 dp-p-0 pe-lg-3 order-lg-1 position-relative">
                            <span class="p-3 mt-lg-2 pt-lg-4 pe-5 d-block">
                                <h4 class="m-0 fs-4">Anne Marii</h4>
                                <h6 class="m-0 text-small text-dark-gray-9">South Kensington Escorts</h6>
                            </span>
                            <div class="profile-info duo-profile border px-4 py-2 rounded-10 gray-common-border gray-common-bg">
                            <span class="row border-right">
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">32C (Natural)</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Bust Size</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">8</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Dress Size</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">Brown</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Eye Colour</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">Black</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Hair Colour</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">5ft 3in</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Height</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">English, German, Spanish and Italian</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Languages</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">Kensington</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Location</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">Italian</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Nationality</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">High Street Kensington</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Nearest Tube</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">Central London</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Outcall Location</h6>
                                    </span>
                                                            </span>
                            </div>
                            <span class="review-count d-flex align-items-center py-3 position-absolute">
                                <span>
                                    <h4 class="m-0 fs-5 d-flex align-items-center justify-content-center justify-content-lg-start"><span class="fa-star text-small pe-1"></span> </h4>
                                    <h6 class="m-0 text-small text-dark-gray-9">0 Reviews</h6>
                                </span>
                        </span>
                        </div>
                        <div class="col-6 col-lg-3 dp-p-0 ps-lg-3 order-lg-3">
                            <span class="p-3 mt-lg-2 pt-lg-4 ps-5 d-block text-end text-lg-start">
                                <h4 class="m-0 fs-4">Alma</h4>
                                <h6 class="m-0 text-small text-dark-gray-9">Bayswater Escorts</h6>
                            </span>
                            <div class="profile-info duo-profile border px-4 py-2 rounded-10 gray-common-border gray-common-bg">
                            <span class="row">
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">18</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Age</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">Eastern European</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Nationality</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">Brunette</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Hair colour</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">Brown</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Eye colour</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">70A Natural</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Bust size</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">8</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Dress size</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">English</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">languages</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">Paddington</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Incall location</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">Paddington Station</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Nearest station</h6>
                                    </span>
                                                                    <span class="col-12 col-lg-12 py-2">
                                        <h4 class="m-0 text-md-small">Central London</h4>
                                        <h6 class="m-0 text-small text-dark-gray-7">Outcall location</h6>
                                    </span>
                                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-single-about ms-auto pe-lg-0 pt-4 mt-2">
                        <div class="row duo-first-part">
                                <div class="col-lg-7">
                                                                        <div class="mt-3 mt-lg-5 pt-lg-4">
                                        <div class="fonts-sub fs-4 f300 text-black-2 mb-3 f500">Listed in</div>
                                        <div class="d-flex flex-wrap align-content-start grid gap-2">
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">GFE Escorts</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">Adventurous Escorts</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">Busty Escorts</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">Brunette Escorts</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">High Class Escorts</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">European Escorts</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">Fetish Escorts</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">Couple Escorts</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">Slim Escorts</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">Mature Escorts</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">BDSM Escorts London</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">Petite Escorts</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">Young Escorts</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">Party Escorts</a>
                                                                                            <a href="#" class="border gray-common-bg border-dark-gray-5 rounded py-2 px-3 text-small text-white">Role Play Escorts</a>
                                                                                    </div>
                                    </div>
                                                                    </div>
                            <div class="col-lg-5">
                                <div class="border meeting-tab border-1 p-3 pt-4 pb-0 rounded-10 profile-meeting-tab gray-common-border gray-common-bg">
                                    <h5 class="text-white f500 border-0 f500 bg-transparent shadow-none px-3">
                                        Meeting rates
                                    </h5>
                                    <div class="">
                                        <div class="px-3 mb-4">
                                            <div class="d-flex mb-1 pb-1">
                                                <div class="col-4 col-xl-6"></div>
                                                <div class="col-4 col-xl-3 text-md-small f500 text-dark-gray-7">Incall</div>
                                                <div class="col-4 col-xl-3 text-md-small f500 text-dark-gray-7">Outcall</div>
                                            </div>
                                                                                            <div class="d-flex py-2 border-bottom gray-common-border">
                                                    <div class="col-4 col-xl-6 text-md-small f500 text-white text-uppercase">1 hour</div>
                                                    <div class="col-4 col-xl-3 text-md-small f500 text-white">£400</div>
                                                    <div class="col-4 col-xl-3 text-md-small f500 text-white">£500</div>
                                                </div>

                                                                                            <div class="d-flex py-2 border-bottom gray-common-border">
                                                    <div class="col-4 col-xl-6 text-md-small f500 text-white text-uppercase">Additional hours</div>
                                                    <div class="col-4 col-xl-3 text-md-small f500 text-white">£400</div>
                                                    <div class="col-4 col-xl-3 text-md-small f500 text-white">£500</div>
                                                </div>

                                                                                        <a href="tel:07478770704" class="d-flex mb-2 mt-4 align-items-center text-decoration-none bg-dark-primary-7 text-white rounded-10 call-info" aria-label="Click Here to call us">
                                                <span class="fa-phone-black fs-5"></span>
                                                <span class="mx-auto">07478770704</span>
                                            </a>
                                            <a target="_blank" class="d-flex align-items-center text-decoration-none bg-primary text-white rounded-10 call-info whatapp-bg"
                                               href="https://wa.me/+447478770704" aria-label="Click Here to chat/bookonline">
                                                <span class="fa-whatsapp fs-5"></span>
                                                <span class="mx-auto">Chat with us on WhatsApp</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="divider mx-auto border-top border-dark-gray-1 my-5 d-md-block d-none w-100"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 position-relative mt-4 mt-lg-0">
                                <span class="d-flex align-items-center justify-content-between">
                                    <span>
                                        <h4 class="m-0 fs-4 f500">Reviews</h4>
                                    </span>
                                    <span class="write-review-btn desktop-view">
                                        <button class="btn text-md-small f500 text-white bg-dark-primary-7 bg-hover-primary review-btn rounded-2" data-bs-toggle="modal" data-bs-target="#reviewpop">Write a review</button>
                                    </span>
                                </span>
                                <span class="d-flex align-items-center justify-content-between rounded-2 border gray-common-border mt-3 mt-lg-4 py-4 px-3 px-lg-5">
                                    <span class="text-center">
                                        <h4 class="mb-2 fs-4"></h4>
                                        <span class="d-flex">
                                            <span class="fa-star me-1"></span>
                                            <span class="fa-star me-1"></span>
                                            <span class="fa-star me-1"></span>
                                            <span class="fa-star me-1"></span>
                                            <span class="fa-star me-1 text-dark-gray-6"></span>
                                        </span>
                                    </span>
                                    <span class="text-center">
                                        <h4 class="mb-2 fs-2"><span class="fa-stars-recommend"></span></h4>
                                        <h3 class="m-0 fs-5 text-white">Highly Reviewed</h3>
                                    </span>
                                    <span class="text-center" data-bs-toggle="modal" data-bs-target="#ratingpop">
                                        <h4 class="mb-2 fs-5">0</h4>
                                        <h3 class="m-0 fs-5">Reviews</h3>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="splide review_tab mt-4 mt-lg-5">
                                    <div class="splide__track">
                                        <div class="splide__list">
                                            
                                        </div>
                                    </div>
                                </div>
                                <span class="write-review-btn d-lg-none">
                                    <button class="btn text-md-small f400 text-white bg-dark-primary-7 bg-hover-primary review-btn rounded-2" data-bs-toggle="modal" data-bs-target="#reviewpop">Write a review</button>
                                </span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>


        <div class="similar-staff container-medium mx-auto mt-5">
        <h4 class="mb-0">Similar Profiles</h4>
        <div class="divider mx-auto border-top border-dark-gray-1 mt-2 mb-3 w-100"></div>
        <div class="gallery-item-duoSimilar">
            <div class="splide staff-gallery">
                <div class="splide__track">
                    <div class="splide__list">
                                                    <div class="splide__slide gallery-item">
    <div class="d-block position-relative">
        <div class="d-flex">
            <div class="col-6 px-0">
                <a href="https://www.crushescorts.com/duo-profile/natasha-ysa">
                    <span class="media-holder d-block position-relative">
                        <img class="fw fh" src="https://crushescorts.com/storage/1205/conversions/image2fKsXF-thumb.webp" loading="lazy"
                                alt="Natasha">
                    </span>
                </a>
            </div>
            <div class="col-6 px-0">
                <a href="https://www.crushescorts.com/duo-profile/natasha-ysa">
                    <span class="media-holder d-block position-relative">
                        <img class="fw fh" src="https://crushescorts.com/storage/1749/conversions/ysa4-thumb.webp" loading="lazy"
                                alt="Ysa">
                    </span>
                </a>
            </div>
        </div>
    </div>
    <span class="d-block mt-2 position-relative">

                <span class="d-block f400 mb-1 pe-5"><a class="h5 text-primary-light f300 text-uppercase" href="https://www.crushescorts.com/duo-profile/natasha-ysa">Natasha &amp; Ysa</a></span>
                <span class="d-block text-small text-uppercase f500 text-white lh-1 mb-1 tagline"></span>
                <span class="text-md-small text-white f500 lh-1 text-uppercase d-block location">£500</span>
                <span class="favourites d-flex justify-content-center align-items-center top-0 end-0 position-absolute">
                    <i class="fa-star me-md-1"></i>
                    <span class="favourites-message">
                        <span class="text">0</span>
                        <span class="favourites-close"></span>
                    </span>
                </span>
            </span>
</div>


















                                            </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-available d-lg-none d-flex position-fixed z-3 bg-main-bg w-100 p-4 justify-content-between">
    <span class="d-flex flex-column">
        <span class="fs-6 text-white">Available today</span>
        <span class="text-lg-small text-white">£300/£350 / 1 hour</span>
    </span>
        <span class="d-flex">
        <a target="_blank" class="d-flex align-items-center justify-content-center text-decoration-none bg-primary text-white rounded-10 whatapp-bg"
           href="https://wa.me/+447478770704" aria-label="Click Here to chat/bookonline">
            <span class="fa-whatsapp fs-5"></span>
        </a>
        <a href="tel:07478770704" class="d-flex align-items-center justify-content-center text-decoration-none bg-primary text-white rounded-10" aria-label="Click Here to call us">
            <span class="fa-phone-black fs-5"></span>
        </a>
    </span>
    </div>

    <div class="modal fade filter-caoffcanvas offcanvas-filter" id="aboutpop" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content bg-main-bg">
                <div class="modal-header justify-content-center border-0 pt-4">
                    <button type="button" class="position-absolute start-0 border-0 bg-main-bg  px-3" data-bs-dismiss="modal" aria-label="Close"><span class="fa-close-small text-white"></span></button>
                </div>
                <div class="modal-body">
                    <div class="filter-col mb-4 pb-4">
                        <div class="fonts-sub fs-6 f300 text-black-2 mb-3">About me</div>
                        <p class="text-dark-gray-9">
                            Cindy is a brunette escort with brown eyes, she is 5 feet 7 inches tall and has a slim build. Cindy is known for her fashion sense and often wears elegant and sophisticated outfits when she goes out on a date. This young model is intelligent, well-spoken, confident and thoughtful. Her amazing 34 D natural breasts are one of her best assets..<br/><br/>
                            Cindy is available for incalls in Bayswater, a district located in central London. It is situated within the City of Westminster and is known for its historic railway station.<br/><br/>
                            Cindy is a brunette escort with brown eyes, she is 5 feet 7 inches tall and has a slim build. Cindy is known for her fashion sense and often wears elegant and sophisticated outfits when she goes out on a date. This young model is intelligent, well-spoken, confident and thoughtful. Her amazing 34 D natural breasts are one of her best assets..<br/><br/>
                            Cindy is available for incalls in Bayswater, a district located in central London. It is situated within the City of Westminster and is known for its historic railway station.<br/><br/>
                            Cindy is a brunette escort with brown eyes, she is 5 feet 7 inches tall and has a slim build. Cindy is known for her fashion sense and often wears elegant and sophisticated outfits when she goes out on a date. This young model is intelligent, well-spoken, confident and thoughtful. Her amazing 34 D natural breasts are one of her best assets..<br/><br/>
                            Cindy is available for incalls in Bayswater, a district located in central London. It is situated within the City of Westminster and is known for its historic railway station.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade filter-caoffcanvas offcanvas-filter" id="ratingpop" aria-hidden="true" aria-labelledby="ratingpopModalToggleLabel" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content bg-main-bg">
                <div class="modal-header justify-content-center border-0 pt-4">
                    <button type="button" class="position-absolute start-0 border-0 bg-main-bg px-3" data-bs-dismiss="modal" aria-label="Close"><span class="fa-back text-white"></span></button>
                </div>
                <div class="modal-body">
                    <div class="filter-col mb-4 pb-4">
                <span class="d-flex align-items-center justify-content-between rounded-2 border gray-common-border mt-2 mt-lg-4 py-4 px-3 px-lg-5">
                    <span class="text-center">
                        <h4 class="mb-2 fs-4">4.6</h4>
                        <span class="d-flex">
                            <span class="fa-star me-1"></span>
                            <span class="fa-star me-1"></span>
                            <span class="fa-star me-1"></span>
                            <span class="fa-star me-1"></span>
                            <span class="fa-star me-1 text-dark-gray-6"></span>
                        </span>
                    </span>
                    <span class="text-center">
                        <h4 class="mb-2 fs-2"><span class="fa-stars-recommend"></span></h4>
                        <h3 class="m-0 text-small text-white">Highly Reviewed</h3>
                    </span>
                    <span class="text-center" data-bs-toggle="modal" data-bs-target="#ratingpop">
                        <h4 class="mb-2 fs-5">23</h4>
                        <h3 class="m-0 text-white">Reviews</h3>
                    </span>
                </span>
                        <div class="fonts-sub fs-6 f300 text-black-2 mt-4 mb-1">23 Reviews</div>
                        <div class="py-3 border-bottom gray-common-border">
                        <span class="d-flex">
                            <span class="fa-star text-lg-small me-1"></span>
                            <span class="fa-star text-lg-small me-1"></span>
                            <span class="fa-star text-lg-small me-1"></span>
                            <span class="fa-star text-lg-small me-1"></span>
                            <span class="fa-star text-lg-small me-1 text-dark-gray-6"></span>
                        </span>
                            <p class="text-dark-gray-9 mt-2 mb-4">
                                Cindy is an incredibly sexy girl, I had a fabulous time with her, she made relax fast even the second round. Her oral was out of this world. I totally recommend her.
                            </p>
                            <span class="py-2">
                            <h4 class="mb-1 text-small">Bust</h4>
                            <h6 class="m-0 text-lg-small text-dark-gray-9">34D (natural)</h6>
                        </span>
                        </div>
                        <div class="py-3 border-bottom gray-common-border">
                        <span class="d-flex">
                            <span class="fa-star text-lg-small me-1"></span>
                            <span class="fa-star text-lg-small me-1"></span>
                            <span class="fa-star text-lg-small me-1"></span>
                            <span class="fa-star text-lg-small me-1"></span>
                            <span class="fa-star text-lg-small me-1 text-dark-gray-6"></span>
                        </span>
                            <p class="text-dark-gray-9 mt-2 mb-4">
                                Cindy is an incredibly sexy girl, I had a fabulous time with her, she made relax fast even the second round. Her oral was out of this world. I totally recommend her.
                            </p>
                            <span class="py-2">
                            <h4 class="mb-1 text-small">Bust</h4>
                            <h6 class="m-0 text-lg-small text-dark-gray-9">34D (natural)</h6>
                        </span>
                        </div>
                        <div class="py-3 border-bottom gray-common-border">
                        <span class="d-flex">
                            <span class="fa-star text-lg-small me-1"></span>
                            <span class="fa-star text-lg-small me-1"></span>
                            <span class="fa-star text-lg-small me-1"></span>
                            <span class="fa-star text-lg-small me-1"></span>
                            <span class="fa-star text-lg-small me-1 text-dark-gray-6"></span>
                        </span>
                            <p class="text-dark-gray-9 mt-2 mb-4">
                                Cindy is an incredibly sexy girl, I had a fabulous time with her, she made relax fast even the second round. Her oral was out of this world. I totally recommend her.
                            </p>
                            <span class="py-2">
                            <h4 class="mb-1 text-small">Bust</h4>
                            <h6 class="m-0 text-lg-small text-dark-gray-9">34D (natural)</h6>
                        </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade filter-caoffcanvas offcanvas-filter" id="reviewpop" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content bg-main-bg">
                <div class="modal-header justify-content-center border-0 pt-4">
                    <button type="button" class="position-absolute start-0 border-0 bg-main-bg  px-3" data-bs-dismiss="modal" aria-label="Close"><span class="fa-close-small text-white"></span></button>
                    <button type="button" class="position-absolute start-0 border-0 bg-main-bg  px-3 d-lg-none" data-bs-dismiss="modal" aria-label="Close"><span class="fa-back text-white"></span></button>
                </div>
                <div class="modal-body px-5">
                    <div class="review-tab pb-2">
                    <span class="text-center d-block">
                        <img class="rounded-circle" src="https://crushescorts.com/storage/1631/conversions/imageDWwQF8-thumb.webp" loading="lazy" width="76" height="76" alt="">
                    </span>
                        <form  action="https://www.crushescorts.com/duo-review/store" class="form py-3" method="post" id="" data-gtm-form-interact-id="0">
                            <input type="hidden" name="_token" value="M6u8JyElQPteHxAdcer8i51aJBLjD0LDFxcbiBuC" autocomplete="off">                            <input type="hidden" name="staff_id" value="6">
                            <div id="message"></div>
                            <div class="ratings-group">
                                <h5 class="mt-3 mb-2 text-start">How was your experience?</h5>
                                <span class="user-rating justify-content-end">
                              <input type="radio" name="rating" value="5"><span class="star"></span>
                              <input type="radio" name="rating" value="4"><span class="star"></span>
                              <input type="radio" name="rating" value="3"><span class="star"></span>
                              <input type="radio" name="rating" value="2"><span class="star"></span>
                              <input type="radio" name="rating" value="1" data-gtm-form-interact-field-id="0"><span class="star"></span>
                            </span>
                                <input id="review-rating" name="sel_service" hidden="" value="1">
                            </div>
                            <div class="form-group mb-3 position-relative">
                                <input type="text" name="full_name" class="form-control rounded-10 text-white input__field" placeholder="">
                                <span class="input__label">Your name</span>
                            </div>
                            <div class="form-group mb-3 position-relative">
                                <input type="email" name="email" class="form-control rounded-10 text-white input__field" placeholder="">
                                <span class="input__label">Your Email</span>
                            </div>
                            <div class="form-group mb-3">
                                <input type="date" name="review_date" class="form-control rounded-10 form-control-date text-white flatpickr-input active">
                            </div>
                            <div class="form-group mb-3">
                                <h5 class="mt-4 mb-2 text-start">Write a public review</h5>
                                <p class="mb-2 text-start font-small text-white">Be honest, clear and detailed. Include all the good or bad, a future punter should know before booking.</p>
                                    <textarea name="message" cols="30" rows="10" class="form-control rounded-10 mt-3 text-white" placeholder="Write a public review"></textarea>
                            </div>
                            <input type="hidden" name="user_review" value="1">
                            <div class="text-center">
                                <input id="reviewSubmit" name="btn_post_review" class="btn w-100 rounded-10 btn text-md-small f400 text-white bg-primary bg-hover-primary-dark review-btn rounded-2" type="submit" value="Submit review">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>